#Lobby{
     border-style: solid;
     border-width: 5px;
     display:inline-block;
}
.lobby_component{
  height: 500px;
  /*border-style: solid;
  border-width: 5px;*/
  display:inline-block;
}
#Games{
  overflow-y: scroll;
  width: 800px;
}
#Player{
  width: 100px;
}
#PlayerList{
  height: 450px;
  overflow-y: scroll;
}
.game_boards {
   margin-left:5px;
   margin-top:5px;
   border:5px solid;
   width: 200px;
   display: inline-block;
   vertical-align: top;
}
.user_action{
   /*position:absolute;*/
}
.user_action_hide{
  display:none;
}
