<!doctype html>
<html>
  <head>
    <title>Pictionary</title>
    <link rel="stylesheet" type="text/css" href="css/lobby.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <!--script src="https://cdn.socket.io/socket.io-1.2.0.js"--></script>
    <script src="js/socketIo.js"></script>
    <!--<script src="js/application.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
    <script src="js/jquery.js"  ></script>
    <script src="js/angularjs.js"  ></script>
    <script src="https://code.angularjs.org/1.3.14/angular-route.js"></script>
    <script src="js/lobby.js"  ></script>
    <script src="js/world.js"  ></script>
    <script src="js/client.js"></script>
    <script src="js/main.js"></script>
  </head>
  <!--<body onload="init();">
    <canvas id="canvas" width="500px" height="500px" style="border-style:solid;"></canvas>
    <button onclick="cambiar();">Borrar/Pintar</button>
  </body>-->
  <body ng-app="app">

    <div id="PlayerName" class="element show" ng-controller="player_name">
       <form>
         <label for="name">Nombre: </label>
         <input id="Name" type="text" name="name">
         <button name="name_button" type="button" ng-click="send_name();">Confirmar</button>
       </form>
    </div>

    <div id="Lobby" class="element hide"  ng-controller="lobby_control">
       <div id="Games" class="lobby_component" >
          <ul>
          <li  class="game_boards" ng-repeat="x in game" ng-click="join_game(x.id)">
	     <div>{{ "Jugadores maximos: " + x.max_players }}</div>
	     <div>{{ "Jugadores actuales: " + x.n_players }}</div>
	     <div>{{ "Rondas: " + x.n_rounds }}</div>
	  </li>
	  </ul>
       </div>
       <div id="Player" class="lobby_component">
          <div id="PlayerList"><div ng-repeat="x in player">{{ x.name }}</div></div>
	  <div>
	     <button id="Create" type="button" class="user_action" ng-click="create_game()">Crear partida</button>
	     <button id="StartGame" type="button" class="user_action_hide" ng-click="start_game()">Comenzar</button>
	     <button id="LeaveGame" type="button" class="user_action_hide" ng-click="leave_game()">Abandonar partida</button>
	  </div>
       </div>
    </div> 

    <div id="CreateGame" class="element hide" ng-controller="create_game">
       <form>
         <label for="n_players">Numero de jugadores: </label>
         <input type="text" name="n_players" ng-model="n_players">
         <label for="n_rounds">Numero de rondas: </label>
         <input type="text" name="n_rounds" ng-model="n_rounds">
         <button name="create_game_button" type="button" ng-click="create_game();">Crear</button>
       </form>
    </div>

    <div id="Game" class="element hide">
       <canvas id="Canvas" class="hide" width="910px" height="510px" style="border-style:solid; position:absolute;"></canvas>
    </div>

  </body>
</html>
